.phone {
  margin: 10px auto;
  width: fit-content;
  border-style: solid;
  border-radius: 30px;
  border-color: $grey-dark;
  border-width: 3px 3px 3px 3px;
  background-color: $black-bis;
  padding: 5px;
}
